wp-admin/
wp-includes/
wp-content/cache
wp-content/languages
wp-content/banners
wp-content/plugins
wp-content/reports
wp-content/uploads
wp-content/wp-performance-score-booster
.idea/

wp-*.php
error_log
google65a89034902d51e4.html
index.php
license.txt
php_errorlog
readme.html
Robots-hide.txt
Robots-show.txt
Robots.txt
test.php
phpinfo.php