.custom-activity{
  background-color: #f9f9f9;
  padding: 100px 0;
}
.custom-activity__title{
  color: #484848;
  font-size: 64px;
  font-weight: 300;
  font-family: $AlmoniDLAAA-300;
  line-height: 70px;
  text-align: center;
}
.custom-activity__container{
  width: 100%;
  max-width: 800px;
  margin: 70px auto 0;
  background-color: white;
  & .gform_wrapper{
    width: calc(100% - 70px);
    margin: 0 auto 0 !important;
    padding: 0 !important;
    background-color: white;
    & form {
      .leafletphp *{
        text-align: center !important;
      }
      & ul {
        list-style: none !important;
        & li{
          max-width: 100% !important;
          width: 100% !important;
          margin: 2rem 0 0 !important;
          padding: 0 !important;
          & div.ginput_container_checkbox{
            margin: 0 !important;
            & ul {
              margin: 0 !important;
            }
            & li {
              margin: 1rem  0 0 0 !important;
            }
            & label {
              display: flex;
              align-items: center;
              position: relative;
              padding: 0 25px;
              &:before{
                content: '';
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                margin: 0 -25px;
                background-color: white;
                border: 2px solid #efefef;
                border-radius: 1px;
              }
            }
            & input {
              display: none;
              &:checked + label{
                &:after{
                  content: '\f00c';
                  display: block;
                  font-family: FontAwesome;
                  font-weight: 400;
                  position: absolute;
                  top: 0;
                  width: 16px;
                  height: 16px;
                  margin: 0 -24px;
                  color: $mainColor;
                }
              }
            }
          }
        }
      }
      & input, & textarea {
        border: 2px solid #efefef;
        background-color: white;
        font-size: 16px;
        font-family: $AlmoniDLAAA-400;
        font-weight: 400;
        line-height: 18px;
      }
      & input[type="text"] {
        height: 44px !important;
        padding: 13px 15px !important;
      }
      & label{
        color: black;
        font-family: $AlmoniDLAAA-700;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
      }
      & .ginput_preview{
        margin-bottom: 0.5rem !important;
        &:last-child{
          margin-bottom: 0 !important;
        }
      }
      & input[type="submit"]{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        height: 44px !important;
        margin-bottom: 1.5rem !important;
        border: 0 !important;
        color: white !important;
        background-color: $mainColor;
        border-radius: 5px;
        font-family: $AlmoniDLAAA-400;
        font-weight: 400;
        font-size: 16px;
        transition: all 0.3s;
        &:hover, &:focus{
          background-color: #484848;
        }
      }
      & .gform_fileupload_multifile .gform_drop_area{
        border: 2px solid #efefef;
        background-color: white;
        color: black;
        text-align: center !important;
        & span.gform_drop_instructions{
          text-align: center !important;
        }
        & input {
          background-color: $mainColor;
          color: white;
          font-size: 16px;
          font-family: $AlmoniDLAAA-400;
          font-weight: 400;
          cursor: pointer;
          transition: 0.3s all;
          border: 0 !important;
          border-radius: 3px;
          text-align: center !important;
          &:hover, &:focus{
            background-color: #484848;
          }
        }

      }
    }
  }
}

.gform_wrapper.gform_validation_error form .gform_body  ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
  max-width: 100% !important;
  width: 100% !important;
  padding: 0 !important;
}
.gform_confirmation_wrapper {
  padding: 200px 0 !important;
  border: 2px solid #efefef;
}

.preview{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px !important;
  width: calc(100% - 70px) !important;
  margin: 0 auto 3rem !important;
  padding: 0 !important;
  border: 0;
  color: white;
  background-color: $mainColor;
  border-radius: 5px;
  font-family: $AlmoniDLAAA-400;
  font-weight: 400;
  font-size: 16px !important;
  text-decoration: none;
  transition: all 0.3s;
  &:hover, &:focus{
    background-color: #484848;
  }
}
#preview_excerpt{
  margin-bottom: 1rem;
}

@media screen and (max-width: 1279px) {
  .custom-activity{
    padding: 60px 0;
  }
  .custom-activity__title{
    font-size: 48px;
    line-height: 64px;
  }
}

@media screen and (max-width: 767px) {
  .custom-activity{
    padding: 60px 0;
  }
  .custom-activity__title{
    font-size: 36px;
    line-height: 48px;
  }
  .custom-activity__container{
    margin-top: 30px;
  }
}